NODE_ENV=production
FRONTEND_URL=
PORT=3000
APP_URL=https://localhost:3001
DATABASE_URL=
TOKEN_SECRET='HDSIHIFDUHFDSAHFAS91U893U8U98AF)AFSAHFOIDSJ_AIDSJDSUH38H446545!@234545HDSIHIFDUHFDSAHFAS91U893U8U98AF)AFSAHFOIDSJ_AIDSJDSUH38H446545!@234545'
TOKEN_EXPIRATION=7d
PHOTO_URL=

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=api_user
DB_PASS=bmartins
DB_NAME=api_rest_dev
